* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 30px;
  overflow: hidden;
}

h1 {
  text-align: center;
}
/* estilos div información pokemon */
.info {
  margin-top: 40px;
  border-style: double;
  border-width: 4px;
  background-color: lightgrey;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.imagen-bus {
  width: 300px;
  height: 300px;
}
.list {
  margin-bottom: 30px;
}
.request {
  margin-bottom: 130px;
}

.div_izq {
  width: 15%;
  height: 100vh;
  overflow: scroll;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: lightgray;
}

.div_der {
  width: 85%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.container {
  display: flex;
  padding: 30px;
}

.busqueda {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.input {
  width: 30%;
  height: 40px;
  background-color: lightgray;
  border-radius: 5px;
  border: none;
}
.buscar {
  background-color: lightgray;
  margin-left: 5px;
  width: 10%;
  border-radius: 5px;
  height: 40px;
  border: none;
}

.buscar:hover {
  border: 1px solid black;
  cursor: pointer;
}
